{% assign menu = linklists['main-menu'] %} {% comment %} Replace with your actual menu handle {% endcomment %}

<ul class="1">
  {% for top_link in menu.links %}
    {% if top_link.links != blank %}
    <li>


      
          <ul class="2">
            {% for sub_link in sub_link.links %}
         
              <li>
               
                  <strong>
                    {% if sub_link.type == 'collection_link' and sub_link.object %}
                      {{ sub_link.object.title }}
                    {% else %}
                      {{ sub_link.title }}
                    {% endif %}
                  </strong>
                
  
                {% if sub_link.links != blank %}
                  <ul class="3">
                    {% for sub_link in sub_link.links %}
                      {% unless sub_link.object.title == collection.title  %}
                        <li>
                          {% if sub_link.type == 'collection_link' and sub_link.object %}
                            {{ sub_link.object.title | upcase }}
                          {% else %}
                            {{ sub_link.title }}
                          {% endif %}
                        </li>
                      {% endunless %}
                    {% endfor %}
                  </ul>
                {% endif %}
  
  
  
                
              </li>
       
            {% endfor %}
          </ul>
        
      </li>
    {% endif %}
  {% endfor %}
</ul>


{{ collection.title }}
{{ sub_link.title }}

