{% assign menu = linklists['main-menu'] %}

<ul>
  {% for top_link in menu.links %}
    {% if top_link.title == 'ALL PRODUCTS' %}
      <li>
        <strong>
          {% if top_link.type == 'collection_link' and top_link.object %}
            {{ top_link.object.title }}
          {% else %}
            {{ top_link.title }}
          {% endif %}
        </strong>

        {% if top_link.links != blank %}
          <ul>
            {% for sub_link in top_link.links %}
              <li>
                {% if sub_link.type == 'collection_link' and sub_link.object %}
                  {{ sub_link.object.title }}
                {% else %}
                  {{ sub_link.title }}
                {% endif %}

                {% if sub_link.links != blank %}
                  <ul>
                    {% for sub_sub_link in sub_link.links %}
                      <li>
                        {% if sub_sub_link.type == 'collection_link' and sub_sub_link.object %}
                          {{ sub_sub_link.object.title }}
                        {% else %}
                          {{ sub_sub_link.title }}
                        {% endif %}
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
    {% endif %}
  {% endfor %}
</ul>



{{ collection.title }}