<style>
</style>

<div style="display: flex; flex-direction: column; width: 100%; padding-top: 34px; padding-bottom: 34px; gap: 15px;">
  <div style="display: flex; width: 100%; justify-content: space-between; align-items: center;">
    <span class="custom-heading" style="font-size: 20px;">My Orders</span>
    <!-- FILTER HIDDEN FOR NOW -->
    <button
      onclick="(function() {
        document.getElementById('filter-modal').style.display = 'flex';
      })()"
      style="display: none; width: fit-content; height: fit-content; align-items: center; gap: 6px;">
      <span style="font-size: 12px;">FILTER</span>
      <img
        src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/person-img_2.png?v=1745996393"
        alt=""
        width="10px"
        height="10px"
        style="width: 10px; height: 10px;"
      >
    </button>
  </div>
  <div id="orders-container-mobile" style="gap: 5px; filter: drop-shadow(0 2px 3px rgba(22,22,22,0.1)); background-color: white; display: flex; flex-direction: column; align-items: center; padding: 21px 16px;">
    {% assign orders_per_page = 10 %}
    {% for order in customer.orders limit: orders_per_page %}
      <details class="accordion group" style="width: 100%; border: none; {% unless forloop.last %}border-bottom: 1px solid rgba(22,22,22,0.2);{% endunless %}" aria-expanded="false" is="accordion-disclosure">
        <summary>
          {%- comment -%}iOS 14 does not support flex on the summary itself, so we have to use this extra div{%- endcomment -%}
          <!-- ACCORDION HEADER/BUTTON HERE -->
          <div class="accordion__toggle" style="display: flex; justify-content: space-between; width: 100%;">
            <span style="text-transform: uppercase; font-size: 10px; color: #222222;">
              {{ order.created_at | date: "%B %d, %Y"}} | <span>{{ order.financial_status }}: {{ order.fulfillment_status }}</span>
            </span>
            <span class="circle-chevron group-expanded:rotate">{%- render 'icon' with 'chevron-bottom-small' -%}</span>
          </div>
        </summary>
  
        <!-- ACCORDION CONTENT HERE -->
        <div style="display: flex; flex-direction: column; gap: 10px; width: 100%; padding-bottom: 20px;">
          {% for line_item in order.line_items %}
            <div style="display: flex; width: 100%; gap: 10px;">
              <div style="display: block; width: 100px; height: 100px; aspect-ratio: 1/1;">
                <img 
                  src="{{ line_item.image | img_url: '100x' }}" 
                  alt="{{ line_item.title }}" 
                  class="profile__order-img"
                  width="100px"
                  height="100px"
                >
              </div>
              <div style="width: 100%; display: flex; flex-direction: column; align-items: left;">
                <span style="font-family: 'Alata', sans-serif; font-size: 12px; line-height: 20px; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis;">{{ line_item.title }}</span>
                <span style="font-size: 10px;">{{ line_item.variant.title }}</span>
                <span style="font-size: 10px;">{{ line_item.quantity }} {% if line_item.quantity < 2 %}piece{% else %}pieces{% endif %}</span>
                <span style="font-size: 10px;">{{ line_item.final_price | money }}</span>
                {% if line_item.properties.subscription_id %}
                  <span style="border: 2px solid red; color: red; font-size: 6px;">Monthly Subscription</span>
                {% endif %}
              </div>
            </div>
          {% endfor %}

          <div style="font-family: 'Alata', sans-serif; display: flex; align-items: center; gap: 10px;">
            <span style="font-size: 10px; letter-spacing: 1px;">ORDER TOTAL:</span><span style="font-size: 14px; letter-spacing: 1px;">{{ order.total_price | money }}</span>
          </div>

          <div style="display: flex; width: fit-content; height: 38px; gap: 5%;">
            {% if order.financial_status == "pending" %}
              <a
                href="/pages/profile-confirm-order?order={{ order.id }}"
                style="height: 100%; width: 103px; font-size: 12px; display: flex; align-items: center; justify-content: center; color: white; background-color: #222222;"
              >PAY NOW</a>
            {% endif %}
            {% if order.fulfillment_status == "shipped" %}
              <a
                href="#"
                style="height: 100%; width: 103px; font-size: 12px; display: flex; align-items: center; justify-content: center; color: white; background-color: #222222;"
              >TRACK ORDER</a>
            {% endif %}
            {% if order.fulfillment_status == "fulfilled" %}
              <a
                href="#"
                style="height: 100%; width: 103px; font-size: 12px; display: flex; align-items: center; justify-content: center; color: white; background-color: #222222;"
              >ORDER AGAIN</a>
              <a
                href="#"
                style="height: 100%; width: 103px; font-size: 12px; display: flex; align-items: center; justify-content: center; color: white; background-color: #222222;"
              >ADD REVIEW</a>
            {% endif %}
            <button style="height: 100%; width: 103px; box-shadow: inset 0 0 0 2px #222222; font-size: 12px; display: flex; align-items: center; justify-content: center;">CONTACT US</button>
          </div>
        </div>
      </details>
    {% endfor %}
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {  
    
  });
</script>