<style>
  span {
    font-family: 'Alata', sans-serif;
    letter-spacing: 0px;
    font-weight: 400;
  }

  .redirect-btn:hover {
    text-decoration: underline;
  }
</style>

<div style="display: flex; flex-direction: column; width: 100%; padding: 16px 21px;">
  <div style="display: flex; width: 100%; height: fit-content; background-color: rgba(22,22,22,0.03); flex-direction: column; align-items: center; gap: 51px; padding: 24px 30px;">
    <div style="width: 100%; height: fit-content; display: flex; align-items: center; justify-content: center; gap: 18px;">
      {% if customer %}
      <img
        src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/person-img_2.png?v=1745996393"
        alt=""
        width="50px"
        height="50px"
        style="border: 1px solid rgba(22,22,22);"
      >
      <div style="display:flex; flex-direction: column;">
        <span style="font-size: 14px;">{{ customer.first_name }} {{ customer.last_name }}</span>
        <span style="font-size: 10px; color: rgba(22,22,22,0.5);">{{ customer.phone }}</span>
        <span style="font-size: 10px; color: rgba(22,22,22,0.5);">{{ customer.email }}</span>
      </div>
      {% endif %}
    </div>
    <div style="width: 100%; height: fit-content; display: grid; grid-template-columns: repeat(2, minmax(0, 1fr)); justify-items: center; row-gap: 42px;">
      <button id='order' class="page-btn" style="display: flex; flex-direction: column; gap: 4px; width: fit-content; height: fit-content; align-items: center;">
        <img
          src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/person-img_2.png?v=1745996393"
          alt=""
          width="25px"
          height="25px"
        >
        <span style="font-size: 12px;">My Orders</span>
      </button>
      <button id='wishlist' class="page-btn" style="display: flex; flex-direction: column; gap: 4px; width: fit-content; height: fit-content; align-items: center;">
        <img
          src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/person-img_2.png?v=1745996393"
          alt=""
          width="25px"
          height="25px"
        >
        <span style="font-size: 12px;">My Wishlist</span>
      </button>
      <button id='account' class="page-btn" style="display: flex; flex-direction: column; gap: 4px; width: fit-content; height: fit-content; align-items: center;">
        <img
          src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/person-img_2.png?v=1745996393"
          alt=""
          width="25px"
          height="25px"
        >
        <span style="font-size: 12px;">Account</span>
      </button>
      <button onclick="(function() {document.getElementById('signout-modal').style.display = 'flex'})()" style="display: flex; flex-direction: column; gap: 4px; width: fit-content; height: fit-content; align-items: center;">
        <img
          src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/person-img_2.png?v=1745996393"
          alt=""
          width="25px"
          height="25px"
        >
        <span style="font-size: 12px;">Sign Out</span>
      </button>
    </div>
  </div>

  <div id="wishlist-snippet" style="display: none; width: 100%; justify-content: center;">
    {% render 'profile-my-wishlist-mobile' %}
  </div>

  <div id="account-snippet" style="display: none; width: 100%; justify-content: center;">
     {% render 'profile-my-account-mobile' %}
  </div>

  <div id="order-snippet" style="display: flex; width: 100%; justify-content: center;">
    ORDER STUFF
  </div>
</div>

<div onclick="(function() {document.getElementById('signout-modal').style.display = 'none'})()" id="signout-modal" style="display: none; background-color: rgba(22,22,22,0.4); position: absolute; z-index: 500; width: 100%; height: 100%; padding: 68px 39px;">
  <div onclick="event.stopPropagation()" style="text-align: center; padding: 38px 46px; display: flex; flex-direction: column; align-items: center; width: 100%; height: fit-content; background-color: white;">
    <img
      src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/person-img_2.png?v=1745996393"
      alt=""
      width="40px"
      height="40px"
    >
    <span style="font-size: 18px;">SIGN OUT OF YOUR ACCOUNT?</span>
    <p style="font-size: 12px;">You'll need to sign in again to access your account and order history</p>
    <div style="display: flex; width: 100%; gap: 14px;">
      <button onclick="(function() {document.getElementById('signout-modal').style.display = 'none'})()" style="display: flex; align-items: center; width: 100%; height: 38px; box-shadow: inset 0 0 0 2px #222222; color: #222222;">CANCEL</button>
      <button onclick="(function() {window.location.href = {{ routes.account_logout_url }}})()" style="display: flex; align-items: center; width: 100%; height: 38px; background-color: #222222; color: white;">SIGN OUT</button>
    </div>
  </div>
    
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const hash = window.location.hash;
    if (hash.includes('account')) {
      document.getElementById('account-snippet').style.display = 'flex';
      document.getElementById('order-snippet').style.display = 'none';
      document.getElementById('wishlist-snippet').style.display = 'none';
    } else if (hash === "#wishlist") {
      document.getElementById('wishlist-snippet').style.display = 'flex';
      document.getElementById('order-snippet').style.display = 'none';
      document.getElementById('account-snippet').style.display = 'none';
    } else {
      window.location.hash = "#order"; // set default hash
      document.getElementById('order-snippet').style.display = 'flex';
      document.getElementById('wishlist-snippet').style.display = 'none';
      document.getElementById('account-snippet').style.display = 'none';
    }
    
    document.querySelectorAll('.page-btn').forEach(button => {
      button.addEventListener('click', function(e) {
        e.preventDefault();
        e.stopPropagation();
        const snippets = ['wishlist-snippet', 'account-snippet', 'order-snippet'];
        const selectedSnippet = `${button.getAttribute('id')}-snippet`;
        for (let i = 0; i < snippets.length; i++) {
          document.getElementById(snippets[i]).style.display = (selectedSnippet == snippets[i]) ? 'flex' : 'none';
          window.location.hash = `#${button.getAttribute('id')}`;
        }
      })
    })
  });
</script>