<style>
  .alata {
    font-family: 'Alata', sans-serif;
    font-weight: normal;
  }

  #first-name-input:focus {
    outline: none;
  }

  #account-page-selection-modal div button {
    width: 100%;
    padding: 6px 0 6px 0;
    font-family: 'Alata', sans-serif;
  }

  #account-page-selection-modal div button:hover {
    text-decoration: underline;
  }

  .edit-address-btn-mobile {
    color: rgba(22,22,22,0.5);
    text-decoration: underline;
    font-size: 10px;
    text-align: right;
  }

  .edit-address-btn-mobile:hover {
    text-decoration: none;
  }

  .delete-address-btn-mobile {
    color: rgba(22,22,22,0.5);
    text-decoration: underline;
    font-size: 10px;
    text-align: right;
  }

  .delete-address-btn-mobile:hover {
    text-decoration: none;
  }

  input:focus {
    outline: none;
  }
</style>

<div style="display: flex; flex-direction: column; width: 100%; padding-top: 34px; padding-bottom: 34px; gap: 15px;">
  <div style="display: flex; width: 100%; justify-content: space-between; align-items: center;">
    <span class="custom-heading" style="font-size: 20px;">Account</span>
    <button
      onclick="(function() {document.getElementById('account-page-selection-modal').style.display = 'flex';})()"
      style="display: flex; width: fit-content; height: fit-content; align-items: center; gap: 6px;"
    >
      <span id="account-page-selection-label" style="font-size: 12px; color: #222222;">PROFILE</span>
      <img
        src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/person-img_2.png?v=1745996393"
        alt=""
        width="10px"
        height="10px"
        style="width: 10px; height: 10px;"
      >
    </button>
  </div>
  <div id="account-details-page" style="gap: 2rem; filter: drop-shadow(0 2px 3px rgba(22,22,22,0.1)); background-color: white; display: flex; flex-direction: column; align-items: center; padding: 21px 16px;">
    <span class="alata" style="color: rgba(22,22,22,0.5); font-size: 10px;">MANAGE AND PROTECT YOUR ACCOUNT</span>
    <div style="width: 100%; display: flex; flex-direction: column; gap: 10px;">
      <div style="display: grid; grid-template-columns: repeat(2, minmax(0, 1fr)); width: 100%; column-gap: 10px;">
        <div class="input-container" style="display: flex; align-items: center; width: 100%; gap: 15px; padding: 12px 19px;">
          <img
            src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/person-img_2.png?v=1745996393"
            alt=""
            width="17px"
            height="17px"
          >
          <div style="display: flex; flex-direction: column; gap: 12px;">
            <span style="font-size: 10px; color: rgba(22,22,22,0.5);">First Name</span>
            <span class="shown-input" style="">{{ customer.first_name | default: 'N/A'}}</span>
            <input class="hidden-input" id="first_name" style="display:none; width: 100%;" placeholder="Juan" value={{ customer.first_name }}>
          </div>
        </div>
        <div class="input-container" style="display: flex; align-items: center; width: 100%; gap: 15px; padding: 12px 19px;">
          <img
            src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/person-img_2.png?v=1745996393"
            alt=""
            width="17px"
            height="17px"
          >
          <div style="display: flex; flex-direction: column; gap: 12px;">
            <span style="font-size: 10px; color: rgba(22,22,22,0.5);">Last Name</span>
            <span class="shown-input" style="">{{ customer.last_name | default: 'N/A' }}</span>
            <input class="hidden-input" id="last_name" style="display:none; width: 100%;" placeholder="Dela Cruz" value={{ customer.last_name }}>
          </div>
        </div>
      </div>
      <div class="input-container" style="display: flex; align-items: center; width: 100%; gap: 15px; padding: 12px 19px;">
        <img
          src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/person-img_2.png?v=1745996393"
          alt=""
          width="17px"
          height="17px"
        >
        <div style="display: flex; flex-direction: column; gap: 12px;">
          <span style="font-size: 10px; color: rgba(22,22,22,0.5);">Phone Number</span>
          <span class="shown-input" style="">{{ customer.phone | default: 'N/A'}}</span>
          <input class="hidden-input" id="phone" style="display:none; width: 100%;" placeholder="########" value={{ customer.phone }}>
        </div>
      </div>
      <div class="input-container" style="display: flex; align-items: center; width: 100%; gap: 15px; padding: 12px 19px;">
        <img
          src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/person-img_2.png?v=1745996393"
          alt=""
          width="17px"
          height="17px"
        >
        <div style="display: flex; flex-direction: column; gap: 12px;">
          <span style="font-size: 10px; color: rgba(22,22,22,0.5);">Email</span>
          <span class="shown-input" style="">{{ customer.email | default: 'N/A' }}</span>
          <input class="hidden-input" type="email" id="email" style="display:none; width: 100%;" placeholder="email@mail.site" value={{ customer.email }}>
        </div>
      </div>
    </div>
    <button
      id="edit-account"
      onclick="(function() {
        document.getElementById('edit-account').style.display = 'none';
        document.getElementById('edit-account-btn-container').style.display = 'flex';
        
        document.querySelectorAll('.hidden-input').forEach(item => {
          item.style.display = 'flex';
        })
    
        document.querySelectorAll('.input-container').forEach(item => {
          item.style.boxShadow = 'inset 0 0 0 2px black';
        })
    
        document.querySelectorAll('.shown-input').forEach(item => {
          item.style.display = 'none';
        })
      })()"
      style="display: flex; width: 100%; background-color: rgba(22,22,22); color: white; height: 60px; justify-content: center; align-items: center;"
    >
      UPDATE ACCOUNT INFORMATION
    </button>
    <div id="edit-account-btn-container" style="display: none; justify-content: space-between; width: 100%; height: 60px; gap: 10px;">
      <button
        onclick="(function() {
          const customer = {
            'first_name' : '{{ customer.first_name }}',
            'last_name' : '{{ customer.last_name }}',
            'phone' : '{{ customer.phone }}',
            'email' : '{{ customer.email }}'
          };
        
          document.getElementById('edit-account').style.display = 'flex';
          document.getElementById('edit-account-btn-container').style.display = 'none';
          
          document.querySelectorAll('.hidden-input').forEach(item => {
            item.style.display = 'none';
            item.value = customer[item.getAttribute('id')];
          })
      
          document.querySelectorAll('.input-container').forEach(item => {
            item.style.boxShadow = '';
          })
      
          document.querySelectorAll('.shown-input').forEach(item => {
            item.style.display = 'flex';
          })
        })()"
        style="display: flex; width: 100%; background-color: white; color: rgba(22,22,22); height: 60px; justify-content: center; align-items: center; box-shadow: inset 0 0 0 2px rgba(22,22,22);"
      >
        CANCEL
      </button>
      <button style="display: flex; width: 100%; background-color: rgba(22,22,22); color: white; height: 60px; justify-content: center; align-items: center;">SAVE</button>
    </div>
  </div>

  <div id="account-deletion-page" style="gap: 2rem; filter: drop-shadow(0 2px 3px rgba(22,22,22,0.1)); background-color: white; display: none; flex-direction: column; align-items: center; padding: 40px 44px;">
    <span class="alata" style="color: rgba(22,22,22,0.5); font-size: 10px; text-transform: uppercase; text-align: center;">permanently delete your account and all associated data. this action cannot be undone.</span>
    <span style="font-size: 12px; font-weight: 400;">By clicking on <strong>“Yes, I Understand”</strong>, you agree to the following:
      <div style="width: 100%; padding-left: 12px;">
        <li>
          Account deletion is irreversible. Upon successful deletion of your account, you will not be able to log in to the deleted account and view account history.
        </li>
        <li>
          Your account cannot be deleted if you have any pending purchases, sales and/or outstanding matters including legal matters.
        </li>
        <li>
          After successful deletion of your account, The closeout connection may retain certain data in accordance with the closeout connection’s Privacy Policy and applicable law.
        </li>
        <li>
          The deletion of your account does not discharge you from any outstanding liabilities and/or obligations.
        </li>
      </div>
    </span>
    <button style="display: flex; width: 197px; height: 43px; background-color: #222222; color: white; align-items: center; justify-content: center;">YES, I UNDERSTAND</button>
  </div>

  <div id="account-addresses-page" style="display: none; width: 100%;">
    <div id="account-details-page" style="width: 100%; gap: 10px; filter: drop-shadow(0 2px 3px rgba(22,22,22,0.1)); background-color: white; display: flex; flex-direction: column; padding: 21px 16px;">
      <button onclick="(function() {document.getElementById('add-address-modal-mobile').style.display = 'flex';})()" class="alata" style="background-color: #222222; color: white; width: fit-content; height: 45px; display: flex; padding: 0px 20px; align-items: center;">
        ADD NEW ADDRESS +
      </button>
      <ul style="width: 100%;">
        {% for address in customer.addresses %}
          <li style="width: 100%; display: flex; gap: 5%; align-items: center; {% unless forloop.last %}border-bottom: 1px solid rgba(22,22,22,0.2); {% endunless %}padding: 17px 0px;">
            <svg style="height: 24px; fill: #222222;" viewBox="0 0 24 24">
              <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5S10.62 6.5 12 6.5s2.5 1.12 2.5 2.5S13.38 11.5 12 11.5z"/>
            </svg>
            <div style="width: 100%; text-wrap: wrap; font-size: 12px;">
              <span>
                {{ address.address1 }},
                {% if address.address2 %}{{ address.address2 }}, {% endif %}
                {{ address.city }}, {{ address.province }}, {{ address.zip }}, {{ address.country }}
                {% if address == customer.default_address %}
                  <span style="height: 14px; font-size: 6px; text-transform: uppercase; border: 1px solid #888; padding: 2px 6px; margin-left: 10px; color: rgba(22,22,22,0.5);">Default</span>
                {% endif %}
              </span>
              
            </div>
            <div style="width: fit-content; display: flex; flex-direction: column; justify-content: space-between; padding-top: 4px; padding-bottom: 4px;">
              <button class="edit-address-btn-mobile" onclick="document.getElementById('edit-address-modal-mobile-{{ address.id }}').style.display='flex'">EDIT</button>
              <form class="delete-address-form-mobile" method="post" action="/account/addresses/{{ address.id }}" style="margin: 0;">
                <input type="hidden" name="_method" value="delete">
                <button class="delete-address-btn-mobile" type="submit">DELETE</button>
              </form>
            </div>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>

<!-- MODALS -->
<div 
  id="add-address-modal-mobile"
  style="padding: 60px 20px; background-color: rgba(22,22,22,0.4); width: 100%; height: calc(100% + 115px); position: absolute; inset-inline-start: 0; inset-block-start: -115px; display: none; z-index: 11;"
  onclick="(function() {document.getElementById('add-address-modal-mobile').style.display = 'none'; document.getElementById('addAddressFormMobile').reset();})()"
> <!-- Add Address Modal -->
  <div onclick="event.stopPropagation()" style="gap: 2rem; display: flex; flex-direction: column; align-items: center; justify-content: center; width: 100%; height: 100%; background-color: white; padding: 37px 72px;">
    <span class="alata" style="font-size: 22px;">DELIVERY ADDRESS</span>
    {% if customer %}
      {% form 'customer_address', customer.new_address, id: "addAddressFormMobile", style: "display: flex; flex-direction: column; justify-content: center; gap: 18px;" %} 
        <input type="hidden" name="address[first_name]" value="{{ customer.first_name }}">
        <input type="hidden" name="address[last_name]" value="{{ customer.last_name }}">
        <input type="text" name="address[address1]" placeholder="Street Address" style="width: 100%; padding: 14px 16px; font-weight: bold; border: 1px solid #000; font-size: 14px;">
        <input type="text" name="address[city]" placeholder="City" style="width: 100%; padding: 14px 16px; font-weight: bold; border: 1px solid #000; font-size: 14px;">
        <select name="address[province]" placeholder="State" style="width: 100%; padding: 14px 16px; font-weight: bold; border: 1px solid #000; font-size: 14px;">
          {% for province in form.country.data-province %}
            <option value="{{ province[0] }}" {% if province[0] == form.province %}selected{% endif %}>{{ province[1] }}</option>
          {% endfor %}
        </select>
        <input type="text" name="address[zip]" placeholder="ZIP Code" style="width: 100%; padding: 14px 16px; font-weight: bold; border: 1px solid #000; font-size: 14px;">
        <select name="address[country]" style="width: 100%; background-color: #EBEBE4; padding: 14px 16px; font-weight: bold; border: 1px solid #000; font-size: 14px;">
          {{ country_option_tags }}
        </select>
        
        <label style="display: flex; align-items: center; margin-bottom: 20px; font-size: 13px;">
          <input type="checkbox" name="address[default]" value="1" style="margin-right: 10px; width: 16px; height: 16px; accent-color: #000000;"> 
          Set As Default Address
        </label>
        
        <div style="display: flex; flex-direction: column; gap: 10px;">
          <button type="submit" style="display: flex; align-items: center; justify-content: center; width: 100%; padding: 6px 0px; background: #000; color: #fff; border: none; font-size: 13px; cursor: pointer;">SAVE</button>
          <button
            type="button"
            onclick="(function() {
              event.preventDefault();
              console.log('chek button cancel pressed!');
              document.getElementById('addAddressFormMobile').reset();
              document.getElementById('add-address-modal-mobile').style.display = 'none';
            })()"
            style="display: flex; align-items: center; justify-content: center; width: 100%; padding: 6px 0px; background: #fff; box-shadow: inset 0 0 0 2px #000; font-size: 13px; cursor: pointer;">CANCEL</button>
        </div>

        {% if form.errors %}
          errors present
        {% endif %}
      {% endform %}
    {% endif %}
  </div>
</div>

{% for address in customer.addresses %}
  <div 
    id="edit-address-modal-mobile-{{ address.id }}"
    style="padding: 60px 20px; background-color: rgba(22,22,22,0.4); width: 100%; height: calc(100% + 115px); position: absolute; inset-inline-start: 0px; inset-block-start: -115px; display: none; z-index: 11;"
    onclick="(function() {document.getElementById('edit-address-modal-mobile-{{ address.id }}').style.display = 'none'; document.getElementById('addAddressFormMobile').reset();})()"
  > <!-- Edit Address Modal -->
    <div onclick="event.stopPropagation()" style="gap: 2rem; display: flex; flex-direction: column; align-items: center; justify-content: center; width: 100%; height: 100%; background-color: white; padding: 37px 72px;">
      <span class="alata" style="font-size: 22px;">EDIT ADDRESS</span>
      {% form 'customer_address', address, style: "display: flex; flex-direction: column; justify-content: center; gap: 18px;" %} 
        <input type="hidden" name="address[first_name]" value="{{ customer.first_name }}">
        <input type="hidden" name="address[last_name]" value="{{ customer.last_name }}">
        <input type="text" name="address[address1]" value="{{ address.address1 }}" placeholder="Street Address" style="width: 100%; padding: 14px 16px; font-weight: bold; border: 1px solid #000; font-size: 14px;">
        <input type="text" name="address[city]" value="{{ address.city }}" placeholder="City" style="width: 100%; padding: 14px 16px; font-weight: bold; border: 1px solid #000; font-size: 14px;">
        <input type="text" name="address[province]" value="{{ address.province }}" placeholder="State" style="width: 100%; padding: 14px 16px; font-weight: bold; border: 1px solid #000; font-size: 14px;">
        <input type="text" name="address[zip]" value="{{ address.zip }}" placeholder="ZIP Code" style="width: 100%; padding: 14px 16px; font-weight: bold; border: 1px solid #000; font-size: 14px;">
        <input type="text" name="address[country]" value="{{ address.country }}" placeholder="Country" value="United States" style="width: 100%; background-color: #EBEBE4; padding: 14px 16px; font-weight: bold; border: 1px solid #000; font-size: 14px;" disabled>
  
        <label style="display: flex; align-items: center; margin-bottom: 20px; font-size: 13px;">
          <input type="checkbox" name="address[default]" value="1" style="margin-right: 10px; width: 16px; height: 16px; accent-color: #000000;"> 
          Set As Default Address
        </label>
        
        <div style="display: flex; flex-direction: column; gap: 10px;">
          <button type="submit" style="display: flex; align-items: center; justify-content: center; width: 100%; padding: 6px 0px; background: #000; color: #fff; border: none; font-size: 13px; cursor: pointer;">SAVE</button>
          <button
            type="button"
            onclick="(function() {
              event.preventDefault();
              console.log('chek button cancel pressed!');
              document.getElementById('edit-address-modal-mobile-{{ address.id }}').style.display = 'none';
            })()"
            style="display: flex; align-items: center; justify-content: center; width: 100%; padding: 6px 0px; background: #fff; box-shadow: inset 0 0 0 2px #000; font-size: 13px; cursor: pointer;">CANCEL</button>
        </div>
      {% endform %}
    </div>
  </div>                
{% endfor %}

<div
  id="edit-address-modal-mobile"
  style="padding: 60px 20px; background-color: rgba(22,22,22,0.4); width: 100%; height: calc(100% + 115px); position: absolute; inset-inline-start: 0; inset-block-start: -115px; display: none; z-index: 11;"
  onclick="document.getElementById('edit-address-modal-mobile').style.display='none'"
>
  <div onclick="event.stopPropagation()" style="gap: 2rem; display: flex; flex-direction: column; align-items: center; justify-content: center; width: 100%; height: 100%; background-color: white; padding: 37px 72px;">
    <span class="alata" style="font-size: 22px;">DELIVERY ADDRESS</span>
    {% if customer %}
      {% form 'customer_address', customer.new_address, id: "addAddressFormMobile", style: "display: flex; flex-direction: column; justify-content: center; gap: 18px;" %} 
        <input type="hidden" name="address[first_name]" value="{{ customer.first_name }}">
        <input type="hidden" name="address[last_name]" value="{{ customer.last_name }}">
        <input type="text" name="address[address1]" placeholder="Street Address" style="width: 100%; padding: 14px 16px; font-weight: bold; border: 1px solid #000; font-size: 14px;">
        <input type="text" name="address[city]" placeholder="City" style="width: 100%; padding: 14px 16px; font-weight: bold; border: 1px solid #000; font-size: 14px;">
        <input type="text" name="address[province]" placeholder="State" style="width: 100%; padding: 14px 16px; font-weight: bold; border: 1px solid #000; font-size: 14px;">
        <input type="text" name="address[zip]" placeholder="ZIP Code" style="width: 100%; padding: 14px 16px; font-weight: bold; border: 1px solid #000; font-size: 14px;">
        <input type="text" name="address[country]" placeholder="Country" value="United States" style="width: 100%; background-color: #EBEBE4; padding: 14px 16px; font-weight: bold; border: 1px solid #000; font-size: 14px;" disabled>
  
        <label style="display: flex; align-items: center; margin-bottom: 20px; font-size: 13px;">
          <input type="checkbox" name="address[default]" value="1" style="margin-right: 10px; width: 16px; height: 16px; accent-color: #000000;"> 
          Set As Default Address
        </label>
        
        <div style="display: flex; flex-direction: column; gap: 10px;">
          <button type="submit" style="display: flex; align-items: center; justify-content: center; width: 100%; padding: 6px 0px; background: #000; color: #fff; border: none; font-size: 13px; cursor: pointer;">SAVE</button>
          <button
            type="button"
            onclick="(function() {
              event.preventDefault();
              console.log('chek button cancel pressed!');
              document.getElementById('addAddressFormMobile').reset();
              document.getElementById('add-address-modal-mobile').style.display = 'none';
            })()"
            style="display: flex; align-items: center; justify-content: center; width: 100%; padding: 6px 0px; background: #fff; box-shadow: inset 0 0 0 2px #000; font-size: 13px; cursor: pointer;">CANCEL</button>
        </div>

        {% if form.errors %}
          errors present
        {% endif %}
      {% endform %}
    {% endif %}
  </div>
</div>

<div
  id="account-page-selection-modal"
  onclick="(function() {document.getElementById('account-page-selection-modal').style.display = 'none';})()"
  style="display: none; position: absolute; top: 0; left: 0; background-color: rgba(0,0,0,0.5); flex-direction: column; width: 100%; height: 100%;"
> <!-- Account Page Selection Modal -->
  <div onclick="event.stopPropagation()" style="width: 100%; background-color: white; padding: 23px 12px; gap: 6px; position: sticky; inset-block-start: 145px;">
    <button id='account-details' class='account-page-btn'>PROFILE</button>
    <button id='account-addresses' class='account-page-btn'>ADDRESSES</button>
    <button id='account-deletion' class='account-page-btn'>ACCOUNT DELETION</button>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    document.querySelectorAll('.account-page-btn').forEach(button => {
      button.addEventListener('click', function(e) {
        e.preventDefault();
        e.stopPropagation();
        const snippets = ['account-details-page', 'account-addresses-page', 'account-deletion-page'];
        const selectedSnippet = `${button.getAttribute('id')}-page`;
        for (let i = 0; i < snippets.length; i++) {
          document.getElementById(snippets[i]).style.display = (selectedSnippet == snippets[i]) ? 'flex' : 'none';
          window.location.hash = `#${button.getAttribute('id')}`;
        }
        document.getElementById('account-page-selection-modal').style.display = 'none';
        document.getElementById('account-page-selection-label').innerHTML = `${button.innerHTML}`;
        window.scrollTo({ top: 0, behavior: "smooth" });
      })
    })

    // document.getElementById('addAddressFormMobile').addEventListener('submit', async (e) => {
    //   e.preventDefault();
    
    //   const formData = new FormData(e.target);
    
    //   fetch("/account/addresses", {
    //     method: "POST",
    //     body: formData,
    //   })
    //   .then(response => {
    //     if (response.ok) {
    //       window.location.hash = "#account";
    //       console.log('chek', response, formData);
    //       // setTimeout(() => location.reload(), 100); 
    //     } else {
    //       alert("Failed to add address.");
    //     }
    //   })
    //   .catch(() => alert("Error submitting address."));
    // });

    function showDeleteModal() {
      return new Promise((resolve) => {
        const modal = document.getElementById('confirmModal');
        const btnYes = document.getElementById('confirmYes');
        const btnNo = document.getElementById('confirmNo');
    
        // Show the modal
        modal.style.display = 'block';
    
        // Click handlers
        btnYes.onclick = () => {
          modal.style.display = 'none';
          resolve(true);  // User confirmed
        };
        btnNo.onclick = () => {
          modal.style.display = 'none';
          resolve(false); // User cancelled
        };
      });
    }

    document.querySelectorAll('.edit-address-btn-mobile').forEach(button => {
      button.addEventListener('click', () => {
        console.log('chek pressed an edit address button!')
      });
    });
  });
</script>