<style>

  .profile {
    padding: 0 50px 30px;
    width: 100%;
    font-family: "Alata", sans-serif !important;
    color: #222222;
  }

  .section-spacing-block,
  .shopify-section,
  .section {
    padding: 0 !important;
  }

  .profile__container {
    max-width: 1356px;
    border-top: 1px solid rgba(34, 34, 34, 0.5);
    margin: 0 auto;
    display: flex;
  }

  .profile__col-left {
    /* border: 1px solid red; */
    min-width: 240px;
    padding: 0 15px;
  }

  .profile__col-right {
    width: 100%;
  }

  .profile__info-block {
    display: flex;
    gap: 18px;
    padding: 27px 0  25px;
  }

  .profile__menu-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .profile__menu-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .profile__menu-item {
    text-transform: capitalize;
    transition: all 0.3s ease;
  }

  .profile__menu-item:hover {
    color: rgba(34, 34, 34, 0.5);
  }

  .profile__image-block {
    min-width: 50px;
    height: 50px;
    border: 1px solid #222222;
    overflow: hidden;
  }

  .profile__info-desc {
    font-size: 10px;
    display: block;
    color: rgba(34, 34, 34, 0.5);
  }
  .profile__info-desc--name {
    font-size: 14px;
    display: block;
    text-transform: capitalize;
  }

  .profile__order-heading-wrap {
    display: flex;
    justify-content: space-between;
    padding: 44px 40px 37px 13px ;
  }

  .profile__order-heading {
    font-size: 30px;
    font-weight: 400;
    line-height: 20px;
  }

  .profile__order-container {
    margin: 0 30px 0 10px;
    padding: 0 35px 0 30px;
    border: 1px solid rgba(34, 34, 34, 0.1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .profile__order-block {
    padding: 17px 0 18px;
    border-bottom: 1px solid rgba(34, 34, 34, 0.2);
  }

  .profile__order-block-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 22px;
    padding: 0;
  }

  .profile__order-block-item {
    /* border: 1px solid green; */
    list-style: none;
    display: flex;
    gap: 16px;
  }

  .profile__order-button-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
  }

  .profile__order-img-wrap {
    min-width: 100px;
    height: 100px;
    /* border: 1px solid; */
  }

  .profile__order-cat-wrap {
    display: flex;
    justify-content: space-between;
  }

  .flex-start {
    justify-content: flex-start;
    gap: 80px;
  }

  .profile__order-cat-link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    padding: 24px 15px 16px;
    transition: all 0.3s ease;
  }
  
  .profile__order-cat-link:hover {
    border-bottom: 1px solid #222222;
  }

  .profile__order-cat-link--active {
    border-bottom: 1px solid #222222;
  }

  .profile__order-button-wrap {
    display: flex;
    gap: 8px;
  }

  .profile__order-btn-link {
    width: 130px;
    height: 45px;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #000;
    transition: all 0.3s ease;
    font-size: 14px;
    letter-spacing: 1px;
    padding-top: 5px;
  }

  .profile__order-btn-link:hover {
    color: #000;
    background-color: #fff;
  }

  .profile__order-btn-link--white {
    color: #000;
    background-color: #fff;
  }

  .profile__order-desc-wrap span {
    display: block;
  }

  .profile__order-filer {
    display: flex;
    align-items: center;
    font-size: 10px;
    color: rgba(34, 34, 34, 0.5);
  }

  .profile__order-date-wrap {
    display: flex;
  }
  
  .profile__order-date-wrap span {
    font-size: 12px;
    color: rgba(34, 34, 34, 0.5);
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 12px;
    display: flex;
  }

  .profile__order-date {
    padding-right: 10px;
    border-right: 1px solid rgba(34, 34, 34, 0.5);
  }
  .profile__order-status {
    padding-left: 10px;
  }

  .profile__order-item-name {
    font-size: 14px;
    line-height: 20px;
  }

  .profile__order-item-variant,
  .profile__order-item-qty,
  .profile__order-item-price {
    font-family: "Poppins", sans-serif !important;
    font-size: 12px;
    line-height: 20px;
  }

  .profile__order-item-sub {
    font-size: 8px;
    letter-spacing: 1px;
    line-height: 20px;
    color: #FF2C2C;
    padding: 0 5px;
    border: 1px solid #FF2C2C;
    width: fit-content;
    text-transform: uppercase;
  }

  .profile__order-ttl-wrap {
    display: flex;
    align-items: center;
  }

  .profile__order-ttl-txt {
    font-size: 14px;
    text-transform: uppercase;
    padding-right: 10px;
    letter-spacing: 1px;
  }

  .profile__order-ttl-price {
    font-size: 24px;
    letter-spacing: 1px;
  }

  .toggle-eye {
    position: absolute;
    right: 10px;
    top: 50%;
    cursor: pointer;
    user-select: none;
    width: 20px;
    height: 20px;
    background-image: url(https://cdn.shopify.com/s/files/1/0723/0839/2168/files/hide.png?v=1746473941);
    background-size: 100%;
  }

  .profile__account-info-wrap {
    display: flex;
    justify-content: space-between;
  }

  .profile__account-input-file {
    display: none;
  }

  .profile__account-pic-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    width: 100%;
  }

  .profile__account-pic-box {
    width: 200px;
    height: 200px;
    border: 1px solid #222222;
    margin-bottom: 30px;
  }
  
  .profile__account-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .profile__account-input-label {
    text-transform: uppercase;
    border: 1px solid #222;
    width: 100px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-family: "Alata", sans-serif !important;
    letter-spacing: 1px;
    margin-bottom: 10px;
  }

  .profile__account-input-note {
    color: rgba(34, 34, 34, 0.5);
    font-size: 11px;
    letter-spacing: 1px;
    font-family: "Poppins", sans-serif !important;
    text-align: center;
  }

.hide {
  display: none !important;
}



    /* 
    font-family: "Alata", sans-serif !important;
    font-family: "Poppins", sans-serif !important;
    */
</style>


<div class="profile">
  <div class="profile__container">
    <div class="profile__col-left">
      <div class="profile__info-block">
        <div class="profile__image-block">
          <img src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/person-img_2.png?v=1745996393" alt="" class="profile__profile-picture">
        </div>
        {% if customer %}
          <div class="profile__info-block-wrap">
            <span class="profile__info-desc profile__info-desc--name" style="color: black;">
              {{ customer.first_name }} {{ customer.last_name }}
            </span>
            <span class="profile__info-desc">
              {{ customer.phone }}
            </span>
            <span class="profile__info-desc">
              {{ customer.email }}
            </span>
          </div>
        {% endif %}
      </div>
      <div class="profile__menu-container">
        <ul class="profile__menu-list">
          <li class="profile__menu-item">
            <a href="/pages/profile">My Orders</a>
            </li>
          <li class="profile__menu-item">
            <a href="/pages/profile-subscription">My Subscriptions</a>
          </li>
        </ul>
        <ul class="profile__menu-list">
          <li class="profile__menu-item">
            <a href="/pages/profile-my-account">My Account</a>
          </li>
          <li class="profile__menu-item">
             <a href="/pages/my-wishlist">My Wishlist</a>
          </li>
        </ul>
        <ul class="profile__menu-list">
          <li class="profile__menu-item">
            <a href="/pages/profile-policies">policies</a>
          </li>
          <li class="profile__menu-item">
            <a href="/account/logout">Sign Out</a>
          </li>
        </ul>
      </div>
    </div> 

    <div class="profile__col-right">
      <div class="profile__order-heading-wrap">
        <h2 class="profile__order-heading">Account</h2>
      </div>
      <div class="profile__order-container">
      <div class="profile__order-cat-wrap flex-start">
        <a href="#" id="profile-tab" class="profile__order-cat-link profile__order-cat-link--active">PROFILE</a>
        <a href="#" id="addresses-tab" class="profile__order-cat-link">ADDRESSES</a>
        <a href="#" id="deletion-tab" class="profile__order-cat-link">ACCOUNT DELETION</a>
      </div>
        
        <div id="profile-section" class="profile__account-wrap" style="padding-bottom: 20px;">
          <h3 class="profile__account-heading">Manage and protect your account</h3>
          <div class="profile__account-info-wrap">
            
          {% if customer %}
            <div class="profile__account-info-block">
              <form class="profile__account-info-container" method="post" action="/account">
                <div class="profile__account-info-row row-flex">
                  <div class="profile__account-row-block">
                    <img class="profile__account-info-icon" src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/Vector_2.svg?v=1746218281">
                    <label for="first-name">First Name</label>
                    <input type="text" id="first-name" name="customer[first_name]" value="{{ customer.first_name }}" placeholder="First Name">
                  </div>
                  <div class="profile__account-row-block">
                    <img class="profile__account-info-icon" src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/Vector_2.svg?v=1746218281">
                    <label for="last-name">Last Name</label>
                    <input type="text" id="last-name" name="customer[last_name]" value="{{ customer.last_name }}" placeholder="Last Name">
                  </div>
                </div>
            
                <div class="profile__account-info-row">
                  <img class="profile__account-info-icon" src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/Vector_3.svg?v=1746218281">
                  <label for="dob">Date of Birth</label>
                  <input type="text" id="dob" name="customer[note][dob]" value="{{ customer.note.dob }}" placeholder="MM/DD/YYYY">
                </div>
            
                <div class="profile__account-info-row">
                  <img class="profile__account-info-icon" src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/mdi-light_phone.svg?v=1746218281">
                  <label for="phone">Phone Number</label>
                  <input type="tel" id="phone" name="customer[phone]" value="{{ customer.phone }}" placeholder="Phone Number">
                </div>
            
                <div class="profile__account-info-row">
                  <img class="profile__account-info-icon" src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/stash_person-light.svg?v=1746218418">
                  <label for="email">Email</label>
                  <input type="email" id="email" name="customer[email]" value="{{ customer.email }}" placeholder="Email">
                </div>
            
                <div class="profile__account-info-row">
                  <img class="profile__account-info-icon" src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/circum_lock.svg?v=1746218282">
                  <label for="password">Password</label>
                  <input type="password" id="password" name="customer[password]" placeholder="New Password">
                  <span id="togglePassword" class="toggle-eye"></span>
                </div>
            
                <button class="profile__account-btn-submit" type="submit">Update Account Information</button>
              </form>
            </div>
          {% endif %}


            
          <div class="profile__account-pic-block">
            <div class="profile__account-pic-box">
              <img class="profile__account-pic" src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/img_prof-pic_1.png?v=1746477596">
            </div>
            <label class="profile__account-input-label" for="imageInput">Select Image</label>
            <input type="file" id="imageInput" class="profile__account-input-file" accept="image/*">
            <span class="profile__account-input-note">File size: maximum 1MB<br>File extension: .JPEG, .PNG</span>
          </div>
            
          </div>
        </div>
        
                          <!-- ADDRESS SECTION -->
        <!-- Add Address Button -->
        <div id="addresses-section" class="profile__account-wrap hide" style="padding-top: 20px;">
          <button onclick="document.getElementById('add-address-modal').style.display='flex'" style="padding: 20px 20px; background-color: #000; color: #fff; border: none; cursor: pointer; font-size: 16px; text-transform: uppercase;">
            ADD NEW ADDRESS &nbsp;&nbsp;+
          </button>
          
                  <!-- Address List -->
          <ul style="list-style: none; padding: 0; margin-top: 30px;">
            {% for address in customer.addresses %}
              <li style="display: flex; justify-content: space-between; align-items: center; padding: 18px 0; border-bottom: 1px solid #ddd;">
                
                <!-- Left: Address Details -->
                <div style="display: flex; align-items: center; gap: 10px;">
                  <!-- Location Icon -->
                  <svg style="width: 16px; height: 16px; fill: #000;" viewBox="0 0 24 24">
                    <path d="M12 2C8.13 2 5 5.13 5 9c0 5.25 7 13 7 13s7-7.75 7-13c0-3.87-3.13-7-7-7zm0 9.5c-1.38 0-2.5-1.12-2.5-2.5S10.62 6.5 12 6.5s2.5 1.12 2.5 2.5S13.38 11.5 12 11.5z"/>
                  </svg>
                  <span style="font-size: 13px; font-family: 'Poppins', sans-serif; color: #000;">
                    {{ address.address1 }},
                    {% if address.address2 != blank %}{{ address.address2 }},{% endif %}
                    {{ address.city }}, {{ address.province }}, {{ address.zip }}, {{ address.country }}
                  </span>
          
                  {% if address == customer.default_address %}
                    <span style="font-size: 10px; text-transform: uppercase; border: 1px solid #888; padding: 2px 6px; margin-left: 10px;">Default</span>
                  {% endif %}
                </div>
          
                <!-- Right: Action Buttons -->
                <div style="text-align: right;">
                    <button 
                      class="edit-address-button" 
                      data-id="{{ address.id }}"
                      data-address1="{{ address.address1 }}"
                      data-address2="{{ address.address2 }}"
                      data-city="{{ address.city }}"
                      data-province="{{ address.province }}"
                      data-zip="{{ address.zip }}"
                      data-country="{{ address.country }}"
                      data-default="{% if address.id == customer.default_address.id %}true{% else %}false{% endif %}"
                      style="font-size: 11px; text-transform: uppercase; color: #000; display: block; margin-bottom: 4px; background: none; border: none; cursor: pointer;">
                      Edit
                    </button>

                  <form class="delete-address-form" method="post" action="/account/addresses/{{ address.id }}" style="margin: 0;">
                    <input type="hidden" name="_method" value="delete">
                    <button type="submit" style="font-size: 11px; text-transform: uppercase; color: #000; background: none; border: none; cursor: pointer;">Delete</button>
                  </form>
                </div>
          
              </li>
            {% endfor %}
          </ul>
  
          
          <!-- Modal Overlay -->
          <div id="add-address-modal" style="display: none; position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; background-color: rgba(0,0,0,0.5); justify-content: center; align-items: center; z-index: 999;">
            <div style="background: #fff; padding: 30px; max-width: 600px; width: 100%; box-sizing: border-box; position: relative;">
          
              <!-- Modal Heading -->
              <h2 style="text-align: center; margin-top: 0; margin-bottom: 30px; font-family: 'Alata', sans-serif;">DELIVERY ADDRESS</h2>
          
              <!-- Form -->
              <form id="add-address-form" accept-charset="UTF-8">
                <input type="hidden" name="form_type" value="customer_address">
                <input type="hidden" name="utf8" value="✓">
              
          
                <!-- Address -->
                <div style="margin-bottom: 20px;">
                  <input type="text" name="address[address1]" placeholder="Street Address" style="width: 100%; padding: 14px 16px; font-weight: bold; border: 1px solid #000; font-size: 14px;">
                </div>
          
                <!-- 2 Column Fields -->
                <div style="display: flex; gap: 10px; margin-bottom: 15px;">
                  <input type="text" name="address[city]" placeholder="City" style="flex: 1; padding: 14px 16px; font-weight: bold; border: 1px solid #000; font-size: 14px;">
                  <input type="text" name="address[province]" placeholder="State" style="flex: 1; padding: 14px 16px; font-weight: bold; border: 1px solid #000; font-size: 14px;">
                </div>
          
                <div style="display: flex; gap: 10px; margin-bottom: 15px;">
                  <input type="text" name="address[zip]" placeholder="ZIP Code" style="flex: 1; padding: 14px 16px; font-weight: bold; border: 1px solid #000; font-size: 14px;">
                  <input type="text" name="address[country]" placeholder="Country" value="United States" style="background-color: #EBEBE4; flex: 1; padding: 14px 16px; font-weight: bold; border: 1px solid #000; font-size: 14px;" disabled>
                </div>
          
                <!-- Checkbox -->
                <label style="display: flex; align-items: center; margin-bottom: 20px; font-size: 13px;">
                  <input type="checkbox" name="address[default]" value="1" style="margin-right: 10px; width: 16px; height: 16px; accent-color: #000000;"> 
                  Set As Default Address
                </label>
          
                <!-- Buttons -->
                <div style="display: flex; gap: 10px;">
                  <button type="button" onclick="document.getElementById('add-address-modal').style.display='none'" style="flex: 1; padding: 14px; background: #fff; border: 1px solid #000; font-size: 13px; cursor: pointer;">CANCEL</button>
                  <button type="submit" style="display: flex; align-items: center; justify-content: center; padding: 14px; background: #000; color: #fff; border: none; font-size: 13px; cursor: pointer;">SAVE</button>
                </div>
              </form>
            </div>
          </div>

          <div id="edit-address-modal" style="display: none; position: fixed; top: 0; left: 0; width: 100vw; height: 100vh; background-color: rgba(0,0,0,0.5); justify-content: center; align-items: center; z-index: 999;">
            <div style="background: #fff; padding: 30px; max-width: 600px; width: 100%; box-sizing: border-box; position: relative;">
          
              <h2 style="text-align: center; margin-top: 0; margin-bottom: 30px; font-family: 'Alata', sans-serif;">EDIT ADDRESS</h2>
          
              <form id="edit-address-form" method="post" accept-charset="UTF-8">
                <input type="hidden" name="_method" value="put">
                <input type="hidden" name="form_type" value="customer_address">
                <input type="hidden" name="utf8" value="✓">
                <input type="hidden" id="edit-address-id" name="id" value="">
          
                <!-- Fields (same as Add Modal) -->
                <div style="margin-bottom: 20px;">
                  <input type="text" name="address[address1]" id="edit-address1" placeholder="Street Address" style="width: 100%; padding: 14px 16px; font-weight: bold; border: 1px solid #000; font-size: 14px;">
                </div>
                <div style="display: flex; gap: 10px; margin-bottom: 15px;">
                  <input type="text" name="address[city]" id="edit-city" placeholder="City" style="flex: 1; padding: 14px 16px; font-weight: bold; border: 1px solid #000; font-size: 14px;">
                  <input type="text" name="address[province]" id="edit-province" placeholder="State" style="flex: 1; padding: 14px 16px; font-weight: bold; border: 1px solid #000; font-size: 14px;">
                </div>
                <div style="display: flex; gap: 10px; margin-bottom: 15px;">
                  <input type="text" name="address[zip]" id="edit-zip" placeholder="ZIP Code" style="flex: 1; padding: 14px 16px; font-weight: bold; border: 1px solid #000; font-size: 14px;">
                  <input type="text" name="address[country]" id="edit-country" placeholder="Country" style="background-color: #EBEBE4; flex: 1; padding: 14px 16px; font-weight: bold; border: 1px solid #000; font-size: 14px;" disabled>
                </div>
                <label style="display: flex; align-items: center; margin-bottom: 20px; font-size: 13px;">
                  <input type="checkbox" name="address[default]" value="1" id="edit-default" style="margin-right: 10px; width: 16px; height: 16px; accent-color: #000000;"> 
                  Set As Default Address
                </label>
          
                <!-- Buttons -->
                <div style="display: flex; gap: 10px;">
                  <button type="button" onclick="document.getElementById('edit-address-modal').style.display='none'" style="flex: 1; padding: 14px; background: #fff; border: 1px solid #000; font-size: 13px; cursor: pointer;">CANCEL</button>
                  <button type="submit" style="flex: 1; padding: 14px; background: #000; color: #fff; border: none; font-size: 13px; cursor: pointer;">UPDATE</button>
                </div>
              </form>
            </div>
          </div>

                      
        </div>
                      

        <div id="deletion-section" class="profile__account-wrap hide">
          <p>Request to delete your account will go here.</p>
        </div>

      </div>
    </div>
  </div>
</div>


<script>
  document.addEventListener("DOMContentLoaded", function () {
    const tabs = {
      "profile-tab": "profile-section",
      "addresses-tab": "addresses-section",
      "deletion-tab": "deletion-section"
    };

    function activateTab(tabId) {
      // Remove active class from all links
      document.querySelectorAll(".profile__order-cat-link").forEach(link =>
        link.classList.remove("profile__order-cat-link--active")
      );

      // Hide all tab sections
      Object.values(tabs).forEach(sectionId =>
        document.getElementById(sectionId).classList.add("hide")
      );

      // Show selected section and highlight tab
      document.getElementById(tabId).classList.add("profile__order-cat-link--active");
      document.getElementById(tabs[tabId]).classList.remove("hide");
    }

    // Initial tab from hash
    const hash = window.location.hash;
    if (hash === "#addresses-tab") {
      activateTab("addresses-tab");
    } else if (hash === "#deletion-tab") {
      activateTab("deletion-tab");
    } else {
      window.location.hash = "#profile-tab"; // set default hash
      activateTab("profile-tab");
    }


    // Handle tab clicks
    Object.keys(tabs).forEach(tabId => {
      document.getElementById(tabId).addEventListener("click", function (e) {
        e.preventDefault();
        window.location.hash = `#${tabId}`; // update the hash
        activateTab(tabId);
      });
    });
    
    const addressForm = document.getElementById("add-address-form");
    if (addressForm) {
      addressForm.addEventListener("submit", function (e) {
        e.preventDefault();
        const formData = new FormData(addressForm);

        fetch("/account/addresses", {
          method: "POST",
          body: formData,
          headers: { "Accept": "text/html" }
        })
        .then(response => {
          if (response.ok) {
            window.location.hash = "#addresses-tab";
            setTimeout(() => location.reload(), 100); 
          } else {
            alert("Failed to add address.");
          }
        })
        .catch(() => alert("Error submitting address."));
      });
    }
  });

  // Toggle password visibility
  const toggle = document.getElementById("togglePassword");
  const password = document.getElementById("password");

  if (toggle && password) {
    toggle.addEventListener("click", function () {
      const type = password.getAttribute("type") === "password" ? "text" : "password";
      password.setAttribute("type", type);
      this.style.backgroundImage = type === "password"
        ? "url(https://cdn.shopify.com/s/files/1/0723/0839/2168/files/hide.png?v=1746473941)"
        : "url(https://cdn.shopify.com/s/files/1/0723/0839/2168/files/show.png?v=1746473942)";
    });
  }

  function closeAddressModal() {
    document.getElementById('addressModal').style.display = 'none';
  }
  
  document.querySelectorAll('.delete-address-form').forEach(form => {
    form.addEventListener('submit', function (e) {
      e.preventDefault();
  
      const confirmed = confirm("Are you sure you want to delete this address?");
      if (!confirmed) return;
  
      const formData = new FormData(this);
  
      fetch(this.action, {
        method: "POST",
        body: formData,
        headers: { "Accept": "text/html" }
      })
      .then(response => {
        if (response.ok) {
           location.reload();
        } else {
          alert("Failed to delete address.");
        }
      })
      .catch(() => alert("Error deleting address."));
    });
  });
document.querySelectorAll('.edit-address-button').forEach(button => {
  button.addEventListener('click', () => {
    document.getElementById('edit-address-id').value = button.dataset.id;
    document.getElementById('edit-address1').value = button.dataset.address1 || '';
    document.getElementById('edit-city').value = button.dataset.city || '';
    document.getElementById('edit-province').value = button.dataset.province || '';
    document.getElementById('edit-zip').value = button.dataset.zip || '';
    document.getElementById('edit-country').value = button.dataset.country || '';
    document.getElementById('edit-default').checked = button.dataset.default === "true";

    document.getElementById('edit-address-modal').style.display = 'flex';
  });
});
const editForm = document.getElementById("edit-address-form");
if (editForm) {
  editForm.addEventListener("submit", function (e) {
    e.preventDefault();
    const id = document.getElementById('edit-address-id').value;
    const formData = new FormData(editForm);

    fetch(`/account/addresses/${id}`, {
      method: "POST",
      body: formData,
      headers: { "Accept": "text/html" }
    })
    .then(response => {
      if (response.ok) {
        window.location.hash = "#addresses-tab";
        setTimeout(() => location.reload(), 100);
      } else {
        alert("Failed to update address.");
      }
    })
    .catch(() => alert("Error updating address."));
  });
}


</script>
