







<div class="custom-col-slider__container">
  <h2 class="custom-col-slider__heading">{{ section.settings.id_header }}</h2>
  <p class="custom-col-slider__desc">{{ section.settings.id_content | strip_html }}</p>
  <div class="custom-col-slider__slide-wrap splide  js-collection-slider">
    <div class="custom-col-slider__track splide__track">
      <ul class="custom-col-slider__list splide__list">

        {% for block in section.blocks %}
        <a class="custom-col-slider__slide splide__slide" href="{{ block.settings.id_link | strip_html }}">
          <div class="custom-col-slider__img-box">
            <img class="custom-col-slider__img" src="{{ block.settings.id_img | img_url: 'master' }}" width="100%" height="" loading="lazy"/>
          </div>
          <span class="custom-col-slider__img-label">{{ block.settings.id_img-label | strip_html }}</span>
        </a>
        {% endfor %}
  
      </ul>
    </div>
  </div>

</div>


{% schema %}
  { 
    "name": "Custom Multi Collection",
    "settings": [
        {
          "type": "text",
          "label": "Header",
          "id": "id_header"
        },
        {
          "type": "richtext",
          "label": "Content",
          "id": "id_content"
        },
  
    ],
    "blocks": [
      {
        "type": "Image",
        "name": "Collection",
        "settings": [
          {
            "type": "image_picker",
            "label": "Image",
            "id": "id_img"
          },
          {
            "type": "text",
            "label": "Collection Label",
            "id": "id_img-label"
          },
          {
            "type": "url",
            "label": "Collection Link",
            "id": "id_link",
          },
        ]
      },

      
    ],
    "presets": [
      {
        "name": "Custom Multi Collection"
      }
    ],
  }
{% endschema %}