{%- render 'section-spacing-collapsing' -%}

{%- comment -%}
  ------------------------------------------------------------------------------------------------------------------------
  LIQUID
  ------------------------------------------------------------------------------------------------------------------------
{%- endcomment -%}

<div class="x:w-full x:mt-8 x:mb-[6rem]">
  <div>
    <div class="x:w-full x:lg:max-w-[1600px] x:mx-auto x:flex x:justify-between x:gap-4">
      {%- for block in section.blocks -%}
        <div class="x:w-[32rem] x:h-[32rem] x:relative x:group" {{ block.shopify_attributes }}>
          {%- if block.settings.image != blank -%}
            <img
              src="{{ block.settings.image | image_url: width: 1024 }}"
              alt="{{ block.settings.title | escape }}"
              class="x:w-full x:h-full x:object-cover"
              loading="lazy"
              width="1024"
              height="1024"
            >
          {%- else -%}
            <div class="x:w-full x:h-full x:bg-gray-400"></div>
          {%- endif -%}

          <a
            href="{{ block.settings.url }}"
            class="x:absolute x:bottom-0 x:left-0 x:w-full x:h-12 x:bg-black x:z-10 x:opacity-0 x:pointer-events-none x:group-hover:opacity-70 x:group-hover:pointer-events-auto x:flex x:items-center x:justify-center x:transition-all x:duration-300"
          >
            <span class="x:uppercase x:text-white">{{ block.settings.button_text | default: 'view product' }}</span>
          </a>
          <span class="x:mt-4 x:text-center x:text-lg x:font-medium">{{ block.settings.title }}</span>
        </div>
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Image Trio",
  "tag": "section",
  "class": "shopify-section--image-trio",
  "max_blocks": 3,
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "info": "Used for alt text"
        },
        {
          "type": "url",
          "id": "url",
          "label": "Link"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text",
          "default": "view product"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image Trio",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}
