<style>
  .custom-cat-slider__container {
    max-width: 1381px;
    margin: 50px auto;
  }

  @media screen and (max-width: 767px) {
    .custom-cat-slider__container {
      padding: 0 20px;
    }
  }

  .custom-cat-slider__heading {
    font-family: "Alata", sans-serif !important;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    color: #222;
    line-height: 66px;
  }

    @media screen and (max-width: 767px) {
    .custom-cat-slider__heading {
      font-size: 16px;
    }
  }

  .custom-cat-slider__desc {
    font-family: "Alata", sans-serif !important;
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    letter-spacing: 1px;
    color: #000;
  }

  .custom-cat-slider__slide-wrap {
    /* margin: 40px 0; */
  }



  

  .custom-cat-slider__list {
    display: flex;
    /* gap: 20px; */
  }

  .custom-cat-slider__slide {
    width: 200px !important;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .custom-cat-slider__img-box {
    height: 200px;
  }

  .custom-cat-slider__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .custom-cat-slider__container .splide__arrow {
    border-radius: 0;
    border: 1px solid #000;
    transform: none;
    top: -50px;
  }
  
  ..splide__arrow--next {
    right: 30px
  }
  .splide__arrow--prev {
    left: unset;
    right: 70px;
  }
</style>








<div class="custom-cat-slider__container">
  <h2 class="custom-cat-slider__heading">{{ section.settings.id_header }}</h2>
  <div class="custom-cat-slider__slide-wrap splide  js-category-slider">
    <div class="custom-cat-slider__track splide__track">
      <ul class="custom-cat-slider__list splide__list">

        {% for block in section.blocks %}
        <a class="custom-cat-slider__slide splide__slide" href="{{ block.settings.id_link | strip_html }}">
          <div class="custom-cat-slider__img-box">
            <img class="custom-cat-slider__img" src="{{ block.settings.id_img | img_url: 'master' }}" width="100%" height="" loading="lazy"/>
          </div>
          <span class="custom-cat-slider__img-label">{{ block.settings.id_img-label | strip_html }}</span>
        </a>
        {% endfor %}
  
      </ul>
    </div>
  </div>
</div>




{% assign menu = linklists['main-menu'] %}

<ul class="1">
  {% for top_link in menu.links %}
    {% if top_link.links != blank %}
      <li>
        <ul class="2">
          {% for sub_link in top_link.links %}
          
              <li>
                <strong>
                  {% if sub_link.type == 'collection_link' and sub_link.object %}
                    {{ sub_link.object.title }}
                  {% else %}
                    {{ sub_link.metafields.custom.name_of_collection }}
                  {% endif %}
                </strong>
              </li>
           
          {% endfor %}
        </ul>
      </li>
    {% endif %}
  {% endfor %}
</ul>





{% schema %}
  { 
    "name": "Custom Category Slider",
    "settings": [
        {
          "type": "text",
          "label": "Header",
          "id": "id_header"
        },
  
    ],
    "blocks": [
      {
        "type": "Image",
        "name": "Collection",
        "settings": [
          {
            "type": "image_picker",
            "label": "Image",
            "id": "id_img"
          },
          {
            "type": "text",
            "label": "Collection Label",
            "id": "id_img-label"
          },
          {
            "type": "url",
            "label": "Collection Link",
            "id": "id_link",
          },
        ]
      },

      
    ],
    "presets": [
      {
        "name": "Custom Category Slider"
      }
    ],
  }
{% endschema %}