<style>

  .custom-multi-col__container {
    display: flex;
    flex-direction: column;
    gap: 35px;
    max-width: 1400px;
    margin: 0 auto 47px;
    color: #222;
    padding: 0 20px;
  }

  @media screen and (max-width: 767px) {
    .custom-multi-col__container {
      margin: 0 auto 20px;
    }
  }

  .custom-multi-col__banner-block {
    display: flex;
  }

  @media screen and (max-width: 767px) {
    .custom-multi-col__banner-block {
      flex-direction: column;
      /* padding: 0 20px; */
    }
  }

  .custom-multi-col__col-wrap {
    display: flex;
    gap: 17px;
  }

  @media screen and (max-width: 767px) {
    .custom-multi-col__col-wrap {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding: 0 20px;
    }
  }

  .custom-multi-col__banner-desc-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(34, 34, 34, 0.03);
    padding: 46px;
    width: 50%;
  }

  @media screen and (max-width: 1150px) {
    .custom-multi-col__banner-desc-wrap {
      padding: 30px;
      width: 100%;
    }
  }

  @media screen and (max-width: 767px) {
    .custom-multi-col__banner-desc-wrap {
      padding: 20px;
    }
  }

  .custom-multi-col__item-box {
    display: flex;
    flex-direction: column;
    max-width: 260px;
    width: 100%;
  }

  @media screen and (max-width: 1150px) {
    .custom-multi-col__item-box:nth-child(n+5) {
      display: none;
    }
  }

  @media screen and (max-width: 767px) {
    .custom-multi-col__item-box {
      max-width: unset;
    }
    .custom-multi-col__item-box:nth-child(n+5) {
      display: none;
    }
  }

  .custom-multi-col__heading {
    font-size: 22px;
    font-family: "Alata", sans-serif !important;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 66px;
  }

  @media screen and (max-width: 767px) {
    .custom-multi-col__heading {
      font-size: 14px;
      line-height: 30px;
    }
  }
  
  .custom-multi-col__banner-desc-wrap p {
    font-size: 16px;
    font-family: "Poppins", sans-serif !important;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 20px;
  }

   @media screen and (max-width: 767px) {
     .custom-multi-col__banner-desc-wrap p {
      font-size: 12px;
     }
   }

  .custom-multi-col__img-box {
    min-width: 50%;
    height: 600px;
  }

  @media screen and (max-width: 1150px) {
    .custom-multi-col__img-box {
      min-width: unset;
      width: 100%;
      height: auto;
    }
  }
  
  @media screen and (max-width: 767px) {
    .custom-multi-col__img-box {
      height: 360px;
    }
  }
  
  .custom-multi-col__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .custom-multi-col__swatch-wrap {
    margin-top: 29px;
    display: flex;
    gap: 6px;
  }
  
  .custom-multi-col__swatch-wrap span {
    display: flex;
    width: 26px;
    height: 26px;
    position: relative;
  }

  .custom-multi-col__swatch-wrap span:nth-child(1) {
    background: #EEAF4D;
  }

  .custom-multi-col__swatch-wrap span:nth-child(1)::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 2px;
    background: inherit;
  }

  .custom-multi-col__swatch-wrap span:nth-child(2) {
    background: #E5C090;
  }

  .custom-multi-col__swatch-wrap span:nth-child(3) {
    background: #A57C52;
  }

  .custom-multi-col__swatch-wrap span:nth-child(4) {
    background: #CDCDCD;
  }

  .custom-multi-col__swatch-wrap span:nth-child(5) {
    background: #D1BB9F;
  }

    .custom-multi-col__swatch-wrap p {
      font-family: "Alata", sans-serif !important;
      font-size: 10px;
      letter-spacing: 1px;
      color: rgba(34, 34, 34, 0.5);
      display: flex;
      align-items: center;
    }

  .custom-multi-col__button {
    font-size: 14px;
    font-family: "Alata", sans-serif !important;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 66px;
    text-align: center;
    color: #222;
    border: 1px solid #000;
    padding: 0 40px;
    margin-top: 40px;
    text-transform: uppercase;
  }

  @media screen and (max-width: 767px) {
    .custom-multi-col__button {
      font-size: 12px;
      padding: 0 20px;
      line-height: 40px;
      margin-top: 20px;
    }
  }
  
  .custom-multi-col__item-name {
    font-size: 14px;
    font-family: "Alata", sans-serif !important;
    font-weight: 400;
    letter-spacing: 1px;
    /* line-height: 66px; */
    color: #222;
    margin: 5px 0 15px;
  }
  .custom-multi-col__item-desc {
    font-size: 14px;
    font-family: "Poppins", sans-serif !important;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 20px;
  }
  .custom-multi-col__item-price {
    font-size: 14px;
    font-family: "Poppins", sans-serif !important;
    font-weight: 400;
    letter-spacing: 1px;
    line-height: 20px;
    margin: 8px 0;
  }

  /* .custom-multi-col__item-cert {
    width: 25px;
    margin-top: 8px;
  } */

  .custom-multi-col__item-img-box {
    width: 100%;
    height: 260px;
  }

  @media screen and (max-width: 1150px) {
    .custom-multi-col__item-img-box {
      height: 200px;
    }
  }

  @media screen and (max-width: 767px) {
    .custom-multi-col__item-img-box {
      height: 180px;
    }
  }

  .custom-multi-col__item-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .custom-multi-col__item-swatch-wrap {
    margin-top: 7px;
    display: flex;
    gap: 6px;
  }

  .custom-multi-col__item-swatch-wrap label {
    margin: 0;
    width: 20px;
    height: 20px;
  }

  
</style>







<div class="custom-multi-col__container">
  {% for block in section.blocks %}
    <div class="custom-multi-col__banner-block">
      <div class="custom-multi-col__img-box">
        <img class="custom-multi-col__img" src="{{ block.settings.id_link.featured_image | img_url: 'master' }}" width="100%" height="" loading="lazy"/>
      </div>
      <div class="custom-multi-col__banner-desc-wrap">


        {% if block.settings.id_link %}
          <h2 class="custom-multi-col__heading">{{ block.settings.id_link.metafields.custom.name_of_collection | upcase }}</h2>
        {% endif %}

       
        {{ block.settings.id_col-desc | newline_to_br }}
        <!-- <div class="custom-multi-col__swatch-wrap">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <p>+ more</p>
        </div> -->
        
        <a class="custom-multi-col__button" href="{{ block.settings.id_link }}">SHOP {{ block.settings.id_link.metafields.custom.name_of_collection | upcase }}</a>
     </div>
    </div>
  

<div class="custom-multi-col__col-wrap">
  {% assign custom_collection = collections[block.settings.id_link.handle] %}
  
    {% for product in custom_collection.products limit: 5 %}
      <a class="custom-multi-col__item-box" href="{{ product.url }}">
        <div class="custom-multi-col__item-img-box">
          <img class="custom-multi-col__item-img" src="{{ product.featured_image | img_url: 'medium' }}" width="100%" loading="lazy" />
        </div>
    
        {% assign color_option_index = -1 %}
        
        {% for option in product.options_with_values %}
          {% if option.name == 'Color' %}
            {% assign color_option_index = forloop.index0 %}
          {% endif %}
        {% endfor %}
        
        {% if color_option_index >= 0 %}
<div class="custom-multi-col__item-swatch-wrap">
  {% assign colors_shown = '' %}

  {% for variant in product.variants %}
    {% assign color_name = variant.options[color_option_index] | downcase %}

    {% unless colors_shown contains color_name %}
      {% assign colors_shown = colors_shown | append: color_name | append: ',' %}

      {%- comment -%}
        Try to get the metaobject entry by handle.
        Make sure the metaobject handle matches the variant color name in lowercase.
        Replace shopify--color-pattern with your type.
      {%- endcomment -%}

      {% assign color_entry = shop.metaobjects['shopify--color-pattern'][color_name] %}

      {% if color_entry and color_entry.color %}
        <label class="color-swatch" style="background-color: {{ color_entry.color }}; border: 1px solid;" title="test{{ color_name }}">
          <input type="radio" name="color" value="{{ color_name }}" class="sr-only">
        </label>
      {% else %}
        <label class="color-swatch" style="background-color: {{ color_name }}; border: 1px solid;" title="{{ color_name }}">
          <input type="radio" name="color" value="{{ color_name }}" class="sr-only">
        </label>
      {% endif %}

    {% endunless %}
  {% endfor %}
</div>

        {% endif %}
     
        <h3 class="custom-multi-col__item-name">{{ product.title }}</h3>
        <p class="custom-multi-col__item-desc">{{ product.description | strip_html | truncatewords: 10 }}</p>
        <span class="custom-multi-col__item-price">
          {{ product.price | money }}
        </span>
        <!-- <img class="custom-multi-col__item-cert" src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/Img_fs-logo.png?v=1744799331" /> -->
      </a>
    {% endfor %}

</div>
  
  {% endfor %}
</div>


{% schema %}
  { 
    "name": "Custom Multi Collection",
    "settings": [  
    ],
    "blocks": [
      {
        "type": "Image",
        "name": "Collection",
        "settings": [
          {
            "type": "image_picker",
            "label": "Image",
            "id": "id_col-img"
          },
          {
            "type": "richtext",
            "label": "Collection Desc",
            "id": "id_col-desc"
          },
          {
           "type": "collection",
            "label": "Collection Link",
            "id": "id_link"
          },
        ]
      },

      
    ],
    "presets": [
      {
        "name": "Custom Multi Collection"
      }
    ],
  }
{% endschema %}