







<div class="custom-multi-col__container">
  <div class="custom-multi-col__banner-block">
    <img class="custom-multi-col__banner-img" src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/Div_image-shop-btn-overlay-container.png?v=1744643429">
    <div class="custom-multi-col__banner-desc-wrap">
      <h2 class="custom-multi-col__heading">{{ block.settings.id_col-name | strip_html }}</h2>
      <!-- <h2 class="custom-multi-col__heading">{{ section.settings.id_header }}</h2> -->
      <p class="custom-multi-col__desc">{{ section.settings.id_content | strip_html }}</p>
   </div>
  </div>


  
  <div class="custom-multi-col__slide-wrap splide  js-collection-slider">
    <div class="custom-multi-col__track splide__track">
      <ul class="custom-multi-col__list splide__list">

        {% for block in section.blocks %}
        <a class="custom-multi-col__slide splide__slide" href="{{ block.settings.id_link | strip_html }}">
          <div class="custom-multi-col__img-box">
            <img class="custom-multi-col__img" src="{{ block.settings.id_img | img_url: 'master' }}" width="100%" height="" loading="lazy"/>
          </div>
          <span class="custom-multi-col__img-label">{{ block.settings.id_img-label | strip_html }}</span>
        </a>
        {% endfor %}
  
      </ul>
    </div>
  </div>

</div>


{% schema %}
  { 
    "name": "Custom Multi Collection",
    "settings": [
        {
          "type": "text",
          "label": "Header",
          "id": "id_header"
        },
        {
          "type": "richtext",
          "label": "Content",
          "id": "id_content"
        },
  
    ],
    "blocks": [
      {
        "type": "Image",
        "name": "Collection",
        "settings": [
          {
            "type": "image_picker",
            "label": "Image",
            "id": "id_img"
          },
          {
            "type": "text",
            "label": "Collection Name",
            "id": "id_col-name"
          },
          {
            "type": "text",
            "label": "Collection Label",
            "id": "id_img-label"
          },
          {
            "type": "url",
            "label": "Collection Link",
            "id": "id_link",
          },
        ]
      },

      
    ],
    "presets": [
      {
        "name": "Custom Multi Collection"
      }
    ],
  }
{% endschema %}