<style>
  .custom-col-slider__container {
    max-width: 1381px;
    margin: 50px auto;
  }

  @media screen and (max-width: 767px) {
    .custom-col-slider__container {
      padding: 0 20px;
    }
  }

  .custom-col-slider__heading {
    font-family: "Alata", sans-serif !important;
    font-size: 32px;
    text-align: center;
    font-weight: 400;
    letter-spacing: 1px;
    color: #222;
  }

   @media screen and (max-width: 767px) {
    .custom-col-slider__heading {
      font-size: 20px;
    }
   }

  .custom-col-slider__sub-heading {
    font-family: "Alata", sans-serif !important;
    font-size: 20px;
    text-align: center;
    font-weight: 400;
    letter-spacing: 1px;
    color: #222;;
  }

    @media screen and (max-width: 767px) {
    .custom-col-slider__sub-heading {
      font-size: 14px;
    }
   }
  
  .custom-col-slider__container p {
    font-family: "Poppins", sans-serif !important;
    font-size: 14px;
    text-align: center;
    font-weight: 400;
    letter-spacing: 1px;
    color: #222;
    margin-bottom: 75px;
  }
   @media screen and (max-width: 767px) {
    .custom-col-slider__container p {
      font-size: 12px;
      margin: 10px 0 40px;
    }
   }

  .custom-col-slider__slide-wrap {
    margin: 40px 0;
  }

  @media screen and (max-width: 767px) {
    .custom-col-slider__slide-wrap {
      margin: 20px 0;
    }
  }



  

  .custom-col-slider__list {
    display: flex;
    /* gap: 20px; */
  }

  .custom-col-slider__slide {
    width: 200px !important;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .custom-col-slider__img-box {
    height: 200px;
  }

  .custom-col-slider__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  @media screen and (max-width: 767px) {
    .splide__arrows {
      display: none;
    }
  }
  

  .splide__arrow {
    border-radius: 0;
    border: 1px solid #000;
    transform: none;
    top: -72px;
  }
  
  .splide__arrow--next {
    right: 30px
  }
  .splide__arrow--prev {
    left: unset;
    right: 70px;
  }



  .sub-submenu li:nth-child(1) {
    display: none;
  }
</style>




{% assign menu = linklists['main-menu'] %} 
{% comment %} Replace with your actual menu handle {% endcomment %}


  




<div class="custom-col-slider__container">
  <h2 class="custom-col-slider__heading">{{ collection.title | upcase }} COLLECTION</h2>
  {% if collection.description != blank %}
    {{ collection.description }}
  {% endif %}
  
  <div class="custom-col-slider__slide-wrap splide  js-collection-slider">
    <div class="custom-col-slider__track splide__track">
      <ul class="custom-col-slider__list splide__list">




    {% for top_link in menu.links %}
        {% if top_link.links != blank %}
          {% for sub_link in top_link.links %}
            {% if sub_link.object.title == collection.title %}
              <div>
                <h2>
                  {% if sub_link.type == 'collection_link' and sub_link.object %}
                    {{ sub_link.object.title }}
                  {% else %}
                    {{ sub_link.title }}
                  {% endif %}
                </h2>
    
                {% if sub_link.links != blank %}
                  <ul class="sub-submenu">
                    {% for sub_sub_link in sub_link.links %}
                      <li>
                        {% if sub_sub_link.type == 'collection_link' and sub_sub_link.object %}
                          {{ sub_sub_link.object.title | upcase }}
                          {{ sub_sub_link.object.url }}
                          <img src="{{ sub_sub_link.object.image | img_url: 'medium' }}" alt="{{ sub_sub_link.object.title }}">
                        {% else %}
                          {{ sub_sub_link.title }}
                        {% endif %}
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </div>
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endfor %}





        
        
  
      </ul>
    </div>
  </div>

</div>


{% comment %}
<div class="custom-col-slider__container">
  <h2 class="custom-col-slider__heading">{{ collection.title | upcase }} COLLECTION</h2>
  {% if collection.description != blank %}
    {{ collection.description }}
  {% endif %}
  
  <div class="custom-col-slider__slide-wrap splide  js-collection-slider">
    <div class="custom-col-slider__track splide__track">
      <ul class="custom-col-slider__list splide__list">

        {% for block in section.blocks %}
        <a class="custom-col-slider__slide splide__slide" href="{{ block.settings.id_link | strip_html }}">
          <div class="custom-col-slider__img-box">
            <img class="custom-col-slider__img" src="{{ block.settings.id_img | img_url: 'master' }}" width="100%" height="" loading="lazy"/>
          </div>
          <span class="custom-col-slider__img-label">{{ block.settings.id_img-label | strip_html }}</span>
        </a>
        {% endfor %}
  
      </ul>
    </div>
  </div>

</div>
{% endcomment %}


{% schema %}
  { 
    "name": "Custom Collection Slider",
    "settings": [
        {
          "type": "text",
          "label": "Header",
          "id": "id_header"
        },
        {
          "type": "text",
          "label": "Sub-Header",
          "id": "id_sub-header"
        },
        {
          "type": "richtext",
          "label": "Content",
          "id": "id_content"
        },
  
    ],
    "blocks": [
      {
        "type": "Image",
        "name": "Collection",
        "settings": [
          {
            "type": "image_picker",
            "label": "Image",
            "id": "id_img"
          },
          {
            "type": "text",
            "label": "Collection Label",
            "id": "id_img-label"
          },
          {
            "type": "url",
            "label": "Collection Link",
            "id": "id_link",
          },
        ]
      },

      
    ],
    "presets": [
      {
        "name": "Custom Collection Slider"
      }
    ],
  }
{% endschema %}