<style>
  .mobile {
    display: none;
  }

  .landing-hero {
    background: #FEEAEB;
    padding: 0 3%;
  }

    @media screen and (max-width: 767px) {
    .landing-hero {
      padding: 20px 0 0;
    }
    }

  .landing-hero-inner {
      max-width: 1280px;
      margin: auto;
      text-align: center;
      margin-top: 20px;
  }
  
  .landing-hero-inner h2 {
      font-family: 'Montserrat';
      font-weight: 700;
      margin-bottom: 10px;
  }

  @media (max-width: 767px) {
    .mobile {
      display: block;
    }
    
    .desktop {
      display: none;
    }

    .landing-hero-inner h2 {
      font-size: 14px;
    }
  }

  .landing-hero-col {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 560px;
    max-width: 1295px;
    margin: 0 auto;
  }
  
  @media screen and (max-width: 767px) {
    .landing-hero-col {
      display: flex;
      flex-direction: column;
      max-height: unset;
        justify-content: center;
    }
  }

  .landing-hero-txt {
    max-width: 747px;
    width: 100%;
    height: fit-content;
  }

    @media screen and (max-width: 767px) {
      .landing-hero-txt {
        z-index: 2;
        padding: 0 3%;
        /* top: 50%;
        transform: translateY(-50%);
        max-width: unset;
        width: 100%;
        padding: 0 50px;
        left: 0; */
      }
    }

  .landing-hero-txt-heading {
    font-size: 56px;
    font-family: 'Didots';
    margin-bottom: 12px;
    letter-spacing: -2px;
    font-weight: normal;
  }
  @media screen and (max-width: 1080px) {
    .landing-hero-txt-heading {
      font-size: 42px;
    }
  }
  @media screen and (max-width: 980px) {
    .landing-hero-txt-heading {
      font-size: 36px;
      margin-bottom: 10px;
    }
  }
  @media screen and (max-width: 767px) {
    .landing-hero-txt-heading {
      font-size: 32px;
    }
  }
  
  .landing-hero-txt-para {
    font-size: 20px;
    /* font-family: 'Montserrat'; */
  }

    @media screen and (max-width: 980px) {
      .landing-hero-txt-para {
        font-size: 16px;
      }
    }
    @media screen and (max-width: 767px) {
      .landing-hero-txt-para {
          font-size: 16px;
      }
    }

  .landing-hero-btn {
    margin-top: 32px;
    background: #FFA9C5;
    color: #fff;
    min-height: 50px;
    width: fit-content;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    font-family: 'Montserrat';
    font-weight: 700;
    text-align: center;
    padding: 18px 30px;
  }


  @media screen and (max-width: 980px) {
    .landing-hero-btn {
      padding: 10px 30px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .landing-hero-btn {
      width: 260px;
     margin: 24px auto;
    }
  }



  div#featured-logo {
      /*margin-bottom: 50px;*/
  }
    
  .product__press-logo-container {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 15px;
    padding-top: 80px;
    background: #fff;
  }
  
  #featured-logo .product__press-logo-container.pc,
  #featured-logo .product__press-logo-container {
      padding-top: 10px;
  }
  
  #featured-logo h2 {
      margin-bottom: 80px;
      font-family: 'Montserrat';
      font-weight: 700;
      line-height: 1.2;
  }
  
  #featured-logo > h2 {
      margin: 0;
      text-align: center;
      font-family: 'Montserrat';
      text-transform: uppercase;
      font-weight: 700;
      font-size: 30px;
  }
    
  @media screen and (max-width: 767px) {
  .product__press-logo-container {
    flex-direction: column;
    gap: 0;
  }
  
  #featured-logo .star-logo-review h2.product__rating-text {
      font-size: 30px;
      margin-bottom: 0;
  }
  }
  
  .product__press-logo-wrap {
    max-width: 1000px;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 0 20px;
  }
  @media screen and (max-width: 767px) {
    .product__press-logo-wrap {
      flex-wrap: nowrap;
      gap: 10px;
    }
  }
  
  .product__press-logo-img{
    width: fit-content;
    max-height: 60px;
  }
  @media screen and (max-width: 767px) {
    .product__press-logo-img{
      max-height: 40px;
    }
  }
  
  .product__press-logo-img img {
    height: 100%;
    width: 100%;
    object-fit: contain;
  }
    
   .press-logo__container {
    padding: 80px 0 !important; 
  /*    max-width: 1200px; */
     margin: 0 auto;
   } 
    
  .custom-content--root {
    max-width: unset;
    padding: 0;
  }
  .press-logo__title {
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
  }
  @media screen and (max-width: 767px) {
    .press-logo__title {
      font-size: 24px;
    }
  }
    .product__rating-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
    background: #fff;
  }
  
  .product__rating-text {
    text-align: center;
  }
  
  .product__star-wrap {
   display: flex;
   gap: 10px;
  }
  
  .fas.fa-star {
    font-style: normal;
  }
  .fas.fa-star::before {
    font-size: 64px;
    color: #ffd200;
    margin-bottom: 10px;
  }
  
  .star-logo-review .product__star-wrap {
      display: flex;
      justify-content: center;
  }
  
  .sp {
    display: none !important;
  }
  
  .product__rating-text {
    font-size: 45px;
    font-weight: 700;
    letter-spacing: -1px;
    margin-top: 10px;
  }


   .landing-hero__img-wrap {
     max-width: 483px;
    width: 100%;
    height: fit-content;
  }

    @media screen and (max-width: 767px) {
     .landing-hero__img-wrap {
        max-width: unset;
           width: 75%;
      }
    }
  
   .landing-hero__img {
    width: 100%;
    height: 100%;
     object-fit: contain;
  }
   @media screen and (max-width: 767px) {
     .landing-hero__img {
       object-fit: cover;
    }
   }
  
  @media screen and (max-width: 767px) {
  .fas.fa-star::before {
    font-size: 32px;
  }
  
  .product__rating-text {
    font-size: 24px;
  }

  
  .sp {
      display: flex !important;
  }
  
  .pc {
    display: none !important;
  }
}
  
</style>

<div class="landing-hero">
  <div class="landing-hero-row">
    <div class="landing-hero-col">
      <div class="landing-hero-txt">
          <h2 class="landing-hero-txt-heading">{{ section.settings.id_header }}</h2>
        <p class="landing-hero-txt-para">
          {{ section.settings.id_desc }}
        </p>
        <a href="#insert-style" class="landing-hero-btn">
          <button>{{ section.settings.id_btn }}</button>
        </a>
      </div>
      <div class="landing-hero__img-wrap">
        <img class="landing-hero__img pc" src="{{ section.settings.id_img1 | img_url: 'master' }}" width="100%" height="" />
        <img class="landing-hero__img sp" src="{{ section.settings.id_img2 | img_url: 'master' }}" width="100%" height="" />
      </div>
             



      <!-- <div id="featured-logo">
       <div class="product__press-logo-container">
          <div class="product__press-logo-wrap">
           
           
            <div class="product__press-logo-img">
              <img src="https://cdn.shopify.com/s/files/1/0300/6637/6788/files/Glamour.png?v=1741244541" alt="" srcset="" loading="lazy">
            </div>
            <div class="product__press-logo-img">
              <img src="https://cdn.shopify.com/s/files/1/0300/6637/6788/files/Vogue_34cc8e81-1db9-4270-97f5-ccc6186bd5ab.png?v=1741244542" alt="" srcset="" loading="lazy">
            </div>
          
            <div class="product__press-logo-img">
              <img src="https://cdn.shopify.com/s/files/1/0300/6637/6788/files/Vanity_Fair.png?v=1741244542" alt="" srcset="" loading="lazy">
            </div>
            <div class="product__press-logo-img">
              <img src="https://cdn.shopify.com/s/files/1/0300/6637/6788/files/Cosmopolitan_8783871d-3725-49bc-8600-d0c3f8bbb3f4.png?v=1741244542" alt="" srcset="" loading="lazy">
            </div>
            <div class="product__press-logo-img">
              <img src="https://cdn.shopify.com/s/files/1/0300/6637/6788/files/Elle.png?v=1741244542" alt="" srcset="" loading="lazy">
            </div>
          
          </div>
        </div> -->
        
      
      <!-- <div class="product__press-logo-container sp">
        <div class="product__press-logo-wrap">
        <div class="product__press-logo-img">
            <img src="https://cdn.shopify.com/s/files/1/0300/6637/6788/files/ELLE_LOGO.png?v=1707809718" alt="" srcset="" loading="lazy">
          </div>
        <div class="product__press-logo-img">
            <img src="https://cdn.shopify.com/s/files/1/0720/0630/4024/files/glamour.png?v=1681717682" alt="" srcset="" loading="lazy">
          </div>
        <div class="product__press-logo-img">
            <img src="https://cdn.shopify.com/s/files/1/0720/0630/4024/files/vogue.png?v=1681717681" alt="" srcset="" loading="lazy">
          </div>
        <div class="product__press-logo-img">
            <img src="https://cdn.shopify.com/s/files/1/0720/0630/4024/files/forbes.png?v=1681717682" alt="" srcset="" loading="lazy">
          </div>
        <div class="product__press-logo-img">
            <img src="https://cdn.shopify.com/s/files/1/0720/0630/4024/files/vanity-fair.png?v=1681717681" alt="" srcset="" loading="lazy">
          </div>
        </div>
          <div class="product__press-logo-wrap">
           <div class="product__press-logo-img">
            <img src="https://cdn.shopify.com/s/files/1/0720/0630/4024/files/buzz-feed.png?v=1681717681" alt="" srcset="" loading="lazy">
          </div>
          <div class="product__press-logo-img">
            <img src="https://cdn.shopify.com/s/files/1/0720/0630/4024/files/yahoo.png?v=1681717681" alt="" srcset="" loading="lazy">
          </div>
          <div class="product__press-logo-img">
            <img src="https://cdn.shopify.com/s/files/1/0720/0630/4024/files/scary-mommy.png?v=1681717681" alt="" srcset="" loading="lazy">
          </div>
          <div class="product__press-logo-img">
            <img src="https://cdn.shopify.com/s/files/1/0300/6637/6788/files/COSMO_LOGO.png?v=1707809718" alt="" srcset="" loading="lazy">
          </div>
        </div>
      </div> -->

        
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Image Column with Txt",
    "settings": [
      {
      "type": "text",
      "label": "Header",
      "id": "id_header"
      },
      {
      "type": "text",
      "label": "Description",
      "id": "id_desc"
      },
      {
      "type": "text",
      "label": "Button Txt",
      "id": "id_btn"
      },
      {
        "type": "image_picker",
        "label": "Image banner for desktop",
        "id": "id_img1"
      },
      {
        "type": "image_picker",
        "label": "Image banner for mobile",
        "id": "id_img2"
      },
    ],
    "blocks": [
    ],
    "presets": [
      {
        "name": "Image Column with Txt"
      }
    ]
  }
{% endschema %}