<style>

.image-col-txt__container {
  max-width: 1356px;
  width: 100%;
  margin: 0 auto;
}

.image-col-txt__image-wrap {
    display: flex;
    gap: 32px;
    justify-content: center;
}


  
  
@media screen and (max-width: 767px) {
  
}

</style>




<div class="image-col-txt__container">
  <div class="image-col-txt__image-wrap">
    
    <div class="image-col-txt__image-box">
      <img class="image-col-txt__image" src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/Tabletop_1.png?v=1744380783">
    </div>
    <div class="image-col-txt__image-box">
      <img class="image-col-txt__image" src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/Tabletop_1.png?v=1744380783">
    </div>
    <div class="image-col-txt__image-box">
      <img class="image-col-txt__image" src="https://cdn.shopify.com/s/files/1/0723/0839/2168/files/Tabletop_1.png?v=1744380783">
    </div>
    
  </div>
  
  <div class="image-col-txt__desc-wrap">
    <h2 class="image-col-txt__desc-heading">Stylish, Elegant, and Affordable Party Goods</h2>
    <p class="image-col-txt__desc-txt">The Closeout Connection is proud to offer supplies that are stylish, elegant, and still affordable. Our selection of party goods and specialty holiday items is second to none. We offer a wide selection of items including machine-washable tablecloths, high-end glassware, and much more, so you can create a stylish atmosphere for your guests.</p>
  </div>
</div>








<!-- <div class="landing-hero">
  <div class="landing-hero-row">
    <div class="landing-hero-col">
      <div class="landing-hero-txt">
          <h2 class="landing-hero-txt-heading">{{ section.settings.id_header }}</h2>
        <p class="landing-hero-txt-para">
          {{ section.settings.id_desc }}
        </p>
        <a href="#insert-style" class="landing-hero-btn">
          <button>{{ section.settings.id_btn }}</button>
        </a>
      </div>

      <div class="landing-hero__img-wrap">
        <img class="landing-hero__img pc" src="{{ section.settings.id_img1 | img_url: 'master' }}" width="100%" height="" />
        <img class="landing-hero__img sp" src="{{ section.settings.id_img2 | img_url: 'master' }}" width="100%" height="" />
      </div>
    </div>
  </div>
</div> -->


{% schema %}
  {
    "name": "Image Column with Txt",
    "settings": [
      {
      "type": "text",
      "label": "Header",
      "id": "id_header"
      },
      {
      "type": "text",
      "label": "Description",
      "id": "id_desc"
      },
      {
      "type": "text",
      "label": "Button Txt",
      "id": "id_btn"
      },
      {
        "type": "image_picker",
        "label": "Image banner for desktop",
        "id": "id_img1"
      },
      {
        "type": "image_picker",
        "label": "Image banner for mobile",
        "id": "id_img2"
      },
    ],
    "blocks": [
    ],
    "presets": [
      {
        "name": "Image Column with Txt"
      }
    ]
  }
{% endschema %}